<nav>
  <div class="nav-wrapper blue darken-5">
    <a style='padding-left:40%' href="#" class="brand-logo">Eat Da Burger</a>
  </div>
</nav>

<div class='row'>
  <div id='curr' class='col left'>
    <h3>Current Burgers</h3>
    <ol>
      {{#each burger}}
      {{#unless devoured}}
      <li>
        <p><span class="label">Name:</span> {{this.burger_name}}</p>
        <button data-id="{{this.id}}" class="devour">Devour It!</button>
      </li>
      {{/unless}}

      {{/each}}
    </ol>
  </div>

  <div id='dev' class='col right'>
    <h3>Devoured Burgers</h3>
    <ol>
      {{#each burger}}
      {{#if devoured}}
      <li>
        <p><span class="label">Name:</span> {{this.burger_name}}</p>
      </li>
      {{/if}}

      {{/each}}
    </ol>
  </div>
</div>





<div class='row'>
  <div id='burger_form' class='col sm-8'>
    <h2>Add a Burger</h2>

    <form class="add_burger">

      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="add_burger" placeholder="Enter a name for your burger" name="burger_name">
        <span><button type="submit">Add Burger</button></span>
      </div>
    </form>
  </div>
</div>
